[Unit]
Description=dunst lock
BindsTo=dunst.service
After=dunst.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'kill -s USR1 $(systemctl --user show dunst -p MainPID | cut -d "=" -f 2)'
ExecStop=/bin/sh -c 'kill -s USR2 $(systemctl --user show dunst -p MainPID | cut -d "=" -f 2)'
RemainAfterExit=yes
