[Unit]
Description=GNOME Keyring daemon

[Service]
Type=forking
BusName=org.freedesktop.secrets
ExecStart=/home/trader7/dotfiles/bin/gnome-keyring.sh start
ExecStopPost=/home/trader7/dotfiles/bin/gnome-keyring.sh cleanup

[Install]
WantedBy=environment.target
Alias=dbus-org.freedesktop.secrets.service
Alias=dbus-org.gnome.keyring.service
