[Unit]
Description=Handle laptop lid

[Service]
ExecStart=/usr/bin/systemd-inhibit --what=handle-lid-switch /home/trader7/dotfiles/bin/handle-lid.sh "systemctl --user start lid-close.target" "systemctl --user stop lid-close.target"

[Install]
WantedBy=desktop.target
