[Unit]
Description=KDE daemon service
Wants=kdeinit.service
After=kdeinit.service
After=environment.target

[Service]
Type=forking
ExecStart=/usr/bin/kded4
BusName=org.kde.kded

[Install]
WantedBy=desktop.target
