[Unit]
Description=Desktop wallpaper (nitrogen)
Requires=display-set.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nitrogen --restore
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
