[Unit]
Description=NetworkManager applet
After=dbus-org.freedesktop.secrets.service

[Service]
Type=dbus
BusName=org.gnome.network_manager_applet
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=desktop.target
