[Unit]
Description=PulseAudio Sound System X11 publish module
BindsTo=pulseaudio.service
After=pulseaudio.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pactl load-module module-x11-publish display=${DISPLAY}
ExecStop=/usr/bin/pactl unload-module module-x11-publish
RemainAfterExit=yes

[Install]
WantedBy=sound.target
