[Unit]
Description=PulseAudio Sound System

[Service]
Type=dbus
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio --fail
ExecStartPost=/usr/bin/pactl load-module module-x11-publish display=${DISPLAY}
Restart=always

[Install]
RequiredBy=sound.target
