[Unit]
Description=Keyboard layout settings

[Service]
EnvironmentFile=-%h/dotfiles/config/setxkbmap
ExecStart=/home/abbradar/dotfiles/setxkbmap.sh $OPTIONS

[Install]
WantedBy=desktop.target
