[Unit]
Description=Trayer
Requires=display-set.target

[Service]
EnvironmentFile=%h/dotfiles/config/trayer
ExecStart=/usr/bin/trayer $OPTIONS

[Install]
WantedBy=desktop.target
