[Unit]
Description=Trayer
Requires=display-set.target
After=window-manager.service

[Service]
EnvironmentFile=%h/dotfiles/config/trayer
ExecStart=/usr/bin/trayer $OPTIONS

[Install]
WantedBy=desktop.target
