[Unit]
Description=Volume icon
Requires=sound.target
After=sound.target

[Service]
ExecStart=/home/trader7/dotfiles/bin/volumeicon.sh

[Install]
WantedBy=desktop.target
