[Unit]
Description=Volume icon
Wants=sound.target
After=sound.target

[Service]
ExecStart=/home/abbradar/dotfiles/bin/volumeicon.sh

[Install]
WantedBy=desktop.target
