[Unit]
Description=xmenud applications menu
BindsTo=environment.target
After=environment.target

[Service]
ExecStart=/usr/bin/xmenud -t

[Install]
WantedBy=desktop.target
