[core]
[user]
	email = ab@fmap.me
	name = Nikolay Amiantov
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = ab@fmap.me
	smtpserverport = 587
[color]
	ui = auto
[push]
	default = simple
[rerere]
	enabled = true
[pull]
	rebase = true
[init]
	defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
