[core]
[user]
	email = ab@fmap.me
	name = Nikolay Amiantov
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = ab@fmap.me
	smtpserverport = 587
[color]
	ui = auto
[push]
	default = simple
