[Unit]
Description=BlueDevil tray icon
Wants=kdedmodule@bluedevil.service
After=kdedmodule@bluedevil.service

[Service]
Type=forking
ExecStart=/usr/bin/bluedevil-monolithic

[Install]
WantedBy=desktop.target
