[Unit]
Description=GNOME Keyring daemon

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/gnome-keyring-daemon -f

[Install]
WantedBy=desktop.target
Alias=dbus-org.freedesktop.secrets.service