[Unit]
Description=KDE init service

[Service]
Type=dbus
BusName=org.kde.kded
ExecStart=/usr/bin/kdeinit4 --no-fork

[Install]
WantedBy=desktop.target
