[Unit]
Description=KDE init service

[Service]
Type=dbus
ExecStart=/usr/bin/kdeinit4 --no-fork --no-kded
BusName=org.kde.klauncher

[Install]
WantedBy=services.target
