[Unit]
Description=NetworkManager applet

[Service]
Type=dbus
BusName=org.gnome.network_manager_applet
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=desktop.target
Alias=dbus-org.gnome.network_manager_applet.service
