[Unit]
Description=slimlock lock screen
Requires=display-set.target
After=environment.target

[Service]
ExecStart=/home/abbradar/dotfiles/bin/slimlock.sh

[Install]
Alias=screen-lock.service
